<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form class="form" [formGroup]="validation_form" (ngSubmit)="loginUser(validation_form.value)">
    <ion-item>
      <ion-label position="floating" color="black">Email</ion-label>
      <ion-input type="text" formControlName="email"></ion-input>
    </ion-item>
    <div class="validation-error">
      <ng-container *ngFor="let validation of validation_messages.email">
        <div class="error-message" style="padding: 15px; color: red;"
        *ngIf="validation_form.get('email').hasError(validation.type) && (validation_form.get('email').dirty || validation_form.get('email').touched)">
          {{validation.message}}
        </div>
      </ng-container>
    </div>
  
    <ion-item>
      <ion-label position="floating" color="black">Password</ion-label>
      <ion-input type="password" formControlName="password" class="form-control" required></ion-input>
    </ion-item>
    <div class="validation-error">
      <div *ngFor="let validation of validation_messages.password">
        <div class="error-message" style="padding: 15px; color: red;"
        *ngIf="validation_form.get('password').hasError(validation.type) && (validation_form.get('password').dirty || validation_form.get('password').touched)">
          {{validation.message}}
        </div>
      </div>
    </div>
  
    <ion-button class="submit-btn" type="submit" [disabled]="!validation_form.valid" expand="block">Login</ion-button>
    <label class="error-message">{{errorMessage}}</label>
  </form>
  <ion-item class="ion-padding" lines="none">
  <span>Don't have an account?</span>
    <ion-button
    fill="solid"
    color="primary"
    (click)="goRegisterPage()">
    REGISTER</ion-button></ion-item>
</ion-content>
  