<ion-header>
  <ion-toolbar>
    <ion-title>Friends</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="addPage()"><ion-icon name="person-add" ></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let fren of friend">
      <ion-item lines="none">{{fren.username}}</ion-item>
      <ion-item lines="none">{{fren.birthdate}}</ion-item>
      <ion-button (click)="delete(fren)"><ion-icon name="trash"></ion-icon></ion-button>
    </ion-item>
    <ion-item lines="none" *ngIf="friend==null||friend.length==0">No friends yet, go add one! ^^</ion-item>
  </ion-list>
</ion-content>
