<ion-header>
  <ion-toolbar>
    <ion-title>Profile</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="logout()"><ion-icon name="exit-outline"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<div>
  <ion-item lines="none">Username: {{this.username}}</ion-item>
  <ion-item lines="none">Fullname: {{this.fullname}}</ion-item>
  <ion-item lines="none">Birthdate: {{this.birthdate}}</ion-item>
</div>
<ion-list>
  <ion-item style="margin-top: 10px;" lines="none" *ngFor="let loc of location">
    <ion-item lines="none">Last known coordinates: {{loc.lat}}, {{loc.lng}}</ion-item>
    <ion-button (click)="deleteLoc(loc)">Delete</ion-button>
  </ion-item>
  <ion-item lines="none">Kesan pesan singkat: halo ^^</ion-item>
</ion-list>
</ion-content>

