<ion-header>
  <ion-toolbar>
    <ion-title>Profile</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="logout()"><ion-icon name="exit-outline"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<div>
  <ion-item>{{this.fullname}}</ion-item>
  <ion-item>{{this.birthdate}}</ion-item>
</div>
<ion-list>
  <ion-item lines="none" *ngFor="let loc of location">Coordinates: {{loc.lat}}, {{loc.lng}}, {{loc.key}}<ion-button (click)="deleteLoc(loc)">Delete</ion-button></ion-item>
  
</ion-list>
</ion-content>

